# The Battle of the Neighborhoods - Week 2

### Part 2 Web scrapping of Population and Demographics data of New York city from Wikipedia

A : POPULATION DATA

Web scrapping of Population data from wikipedia page - https://en.wikipedia.org/wiki/New_York_City

In [1]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

#!conda install -c conda-forge geopy --yes
from geopy.geocoders import Nominatim

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors
import matplotlib.pyplot as plt

# conda install -c anaconda beautiful-soup --yes
from bs4 import BeautifulSoup # package for parsing HTML and XML documents

import csv # implements classes to read and write tabular data in CSV form

print('Libraries imported.')

Libraries imported.


Web scrapping of Population data from wikipedia page using BeautifulSoup

In [2]:
website_url = requests.get('https://en.wikipedia.org/wiki/Demographics_of_New_York_City').text
soup = BeautifulSoup(website_url,'lxml')
table = soup.find('table',{'class':'wikitable sortable'})
#print(soup.prettify())

headers = [header.text for header in table.find_all('th')]

table_rows = table.find_all('tr')        
rows = []
for row in table_rows:
   td = row.find_all('td')
   row = [row.text for row in td]
   rows.append(row)

with open('BON2_POPULATION1.csv', 'w') as f:
   writer = csv.writer(f)
   writer.writerow(headers)
   writer.writerows(row for row in rows if row)

In [3]:
Pop_data=pd.read_csv('BON2_POPULATION1.csv')
Pop_data.drop(Pop_data.columns[[7,8,9,10,11]], axis=1,inplace=True)
print('Data downloaded!')

Data downloaded!

In [4]:
Pop_data.columns = Pop_data.columns.str.replace(' ', '')
Pop_data.columns = Pop_data.columns.str.replace('\'','')
Pop_data.rename(columns={'Borough':'persons_sq_mi','County':'persons_sq_km'}, inplace=True)
Pop_data

,NewYorkCitysfiveboroughsvte\n,Jurisdiction\n,Population\n,GDP\n,Landarea\n,Density\n,persons_sq_mi,persons/mi2,persons/km2\n
0,The Bronx\n,\n Bronx\n,"1,418,207\n",42.695\n,42.10\n,109.04\n,"33,867\n",NaN,NaN
1,Brooklyn\n,\n Kings\n,"2,559,903\n",91.559\n,70.82\n,183.42\n,"36,147\n",NaN,NaN
2,Manhattan\n,\n New York\n,"1,628,706\n",600.244\n,22.83\n,59.13\n,"71,341\n",NaN,NaN
3,Queens\n,\n Queens\n,"2,253,858\n",93.310\n,108.53\n,281.09\n,"20,767\n",NaN,NaN
4,Staten Island\n,\n Richmond\n,"476,143\n",14.514\n,58.37\n,151.18\n,"8,157\n",NaN,NaN
5,City of New York,"8,336,817",842.343,302.64,783.83,"27,547","10,636\n",NaN,NaN
6,State of New York,"19,453,561","1,731.910","47,126.40","122,056.82",412,159\n,NaN,NaN
7,Sources:[12][13][14] and see individual boroug...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
Pop_data.rename(columns = {'NewYorkCitysfiveboroughsvte\n' : 'Borough',
                   'Jurisdiction\n':'County',
                   'Population\n':'Estimate_2017', 
                   'Landarea\n':'square_miles',
                    'Density\n':'square_km'}, inplace=True)
Pop_data

,Borough,County,Estimate_2017,GDP\n,square_miles,square_km,persons_sq_mi,persons/mi2,persons/km2\n
0,The Bronx\n,\n Bronx\n,"1,418,207\n",42.695\n,42.10\n,109.04\n,"33,867\n",NaN,NaN
1,Brooklyn\n,\n Kings\n,"2,559,903\n",91.559\n,70.82\n,183.42\n,"36,147\n",NaN,NaN
2,Manhattan\n,\n New York\n,"1,628,706\n",600.244\n,22.83\n,59.13\n,"71,341\n",NaN,NaN
3,Queens\n,\n Queens\n,"2,253,858\n",93.310\n,108.53\n,281.09\n,"20,767\n",NaN,NaN
4,Staten Island\n,\n Richmond\n,"476,143\n",14.514\n,58.37\n,151.18\n,"8,157\n",NaN,NaN
5,City of New York,"8,336,817",842.343,302.64,783.83,"27,547","10,636\n",NaN,NaN
6,State of New York,"19,453,561","1,731.910","47,126.40","122,056.82",412,159\n,NaN,NaN
7,Sources:[12][13][14] and see individual boroug...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
Pop_data['Borough']=Pop_data['Borough'].replace(to_replace='\n', value='', regex=True)
Pop_data['County']=Pop_data['County'].replace(to_replace='\n', value='', regex=True)
Pop_data['Estimate_2017']=Pop_data['Estimate_2017'].replace(to_replace='\n', value='', regex=True)
Pop_data['square_miles']=Pop_data['square_miles'].replace(to_replace='\n', value='', regex=True)
Pop_data['square_km']=Pop_data['square_km'].replace(to_replace='\n', value='', regex=True)
Pop_data['persons/mi2']=Pop_data['persons/mi2'].replace(to_replace='\n', value='', regex=True)
Pop_data['persons/km2\n']=Pop_data['persons/km2\n'].replace(to_replace='\n', value='', regex=True)
Pop_data

,Borough,County,Estimate_2017,GDP\n,square_miles,square_km,persons_sq_mi,persons/mi2,persons/km2\n
0,The Bronx,Bronx,"1,418,207",42.695\n,42.10,109.04,"33,867\n",NaN,NaN
1,Brooklyn,Kings,"2,559,903",91.559\n,70.82,183.42,"36,147\n",NaN,NaN
2,Manhattan,New York,"1,628,706",600.244\n,22.83,59.13,"71,341\n",NaN,NaN
3,Queens,Queens,"2,253,858",93.310\n,108.53,281.09,"20,767\n",NaN,NaN
4,Staten Island,Richmond,"476,143",14.514\n,58.37,151.18,"8,157\n",NaN,NaN
5,City of New York,"8,336,817",842.343,302.64,783.83,"27,547","10,636\n",NaN,NaN
6,State of New York,"19,453,561","1,731.910","47,126.40","122,056.82",412,159\n,NaN,NaN
7,Sources:[12][13][14] and see individual boroug...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
Pop_data.loc[5:,['persons/mi2','persons/km2\n']] = Pop_data.loc[2:,['persons/mi2','persons/km2\n']].shift(1,axis=1)
Pop_data.loc[5:,['square_km','persons/mi2']] = Pop_data.loc[2:,['square_km','persons/mi2']].shift(1,axis=1)
Pop_data.loc[5:,['square_miles','square_km']] = Pop_data.loc[2:,['square_miles','square_km']].shift(1,axis=1)
Pop_data.loc[5:,['Estimate_2017','square_miles']] = Pop_data.loc[2:,['Estimate_2017','square_miles']].shift(1,axis=1)
Pop_data.loc[5:,['County','Estimate_2017']] = Pop_data.loc[2:,['County','Estimate_2017']].shift(1,axis=1)
Pop_data.loc[5:,['Borough','County']] = Pop_data.loc[2:,['Borough','County']].shift(1,axis=1)
Pop_data

,Borough,County,Estimate_2017,GDP\n,square_miles,square_km,persons_sq_mi,persons/mi2,persons/km2\n
0,The Bronx,Bronx,"1,418,207",42.695\n,42.10,109.04,"33,867\n",NaN,NaN
1,Brooklyn,Kings,"2,559,903",91.559\n,70.82,183.42,"36,147\n",NaN,NaN
2,Manhattan,New York,"1,628,706",600.244\n,22.83,59.13,"71,341\n",NaN,NaN
3,Queens,Queens,"2,253,858",93.310\n,108.53,281.09,"20,767\n",NaN,NaN
4,Staten Island,Richmond,"476,143",14.514\n,58.37,151.18,"8,157\n",NaN,NaN
5,NaN,City of New York,"8,336,817",302.64,842.343,783.83,"10,636\n","27,547",NaN
6,NaN,State of New York,"19,453,561","47,126.40","1,731.910","122,056.82",159\n,412,NaN
7,NaN,Sources:[12][13][14] and see individual boroug...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
Pop_data = Pop_data.fillna('')
Pop_data

,Borough,County,Estimate_2017,GDP\n,square_miles,square_km,persons_sq_mi,persons/mi2,persons/km2\n
0,The Bronx,Bronx,"1,418,207",42.695\n,42.10,109.04,"33,867\n",,
1,Brooklyn,Kings,"2,559,903",91.559\n,70.82,183.42,"36,147\n",,
2,Manhattan,New York,"1,628,706",600.244\n,22.83,59.13,"71,341\n",,
3,Queens,Queens,"2,253,858",93.310\n,108.53,281.09,"20,767\n",,
4,Staten Island,Richmond,"476,143",14.514\n,58.37,151.18,"8,157\n",,
5,,City of New York,"8,336,817",302.64,842.343,783.83,"10,636\n","27,547",
6,,State of New York,"19,453,561","47,126.40","1,731.910","122,056.82",159\n,412,
7,,Sources:[12][13][14] and see individual boroug...,,,,,,,

In [9]:
i = Pop_data[((Pop_data.County == 'Sources: [2] and see individual borough articles'))].index
Pop_data.drop(i)

,Borough,County,Estimate_2017,GDP\n,square_miles,square_km,persons_sq_mi,persons/mi2,persons/km2\n
0,The Bronx,Bronx,"1,418,207",42.695\n,42.10,109.04,"33,867\n",,
1,Brooklyn,Kings,"2,559,903",91.559\n,70.82,183.42,"36,147\n",,
2,Manhattan,New York,"1,628,706",600.244\n,22.83,59.13,"71,341\n",,
3,Queens,Queens,"2,253,858",93.310\n,108.53,281.09,"20,767\n",,
4,Staten Island,Richmond,"476,143",14.514\n,58.37,151.18,"8,157\n",,
5,,City of New York,"8,336,817",302.64,842.343,783.83,"10,636\n","27,547",
6,,State of New York,"19,453,561","47,126.40","1,731.910","122,056.82",159\n,412,
7,,Sources:[12][13][14] and see individual boroug...,,,,,,,

In [18]:
Pop_data.to_csv('BON2_POPULATION.csv',index=False)